<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Turn off all default logging -->
    <root level="OFF" />

    <!-- API Log File Appender -->
    <appender name="API_FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/api.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/api.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- GCP Logging Appender -->
    <!-- <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender"> -->
        <log>
    cloud-run-java-cms</log> Optional: Change log name <!-- </appender> -->

    <!-- Logger specifically for API calls -->
    <logger
        name="com.knowledge.api.logging.ApiLogger" level="INFO" additivity="false">
        <appender-ref ref="API_FILE" />
        <!-- <appender-ref ref="CLOUD" /> -->
    </logger>


</configuration>